# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude variables files
*.tfvars
*.tfvars.json

# Ignore override files as they may contain sensitive information
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files for specific environments
!environments/dev/terraform.tfvars

# Ignore CLI configuration files
.terraformrc
terraform.rc
